{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	{{form_start(form)}}
	<div class="row">
		<div class="col-10 offset-1 mt-4">

			<div class="input-group">
				<div class="input-group-prepend">
					{{form_row(form.category, {
						'required': false,
						'attr': {																																																			
							'class':'custom-select'
					}})}}
				</div>

				{{form_row(form.searchValue, {
						'label':false,
						'required':false,
						'attr': {
							'class': 'form-control',
							'placeholder': 'De quoi avez-vous besoin ?'
					}})}}

				<div class="input-group-append">
					<button class="btn btn-outline-secondary form-control" type="submit">Rechercher</button>
				</div>

			</div>

		</div>
	</div>
	{{form_end(form)}}
	{% for annonce in annonces %}
		<ul>
			<li>Catégorie: {{annonce.getCategory.name}} ||
				Titre: {{annonce.title}} ||
				Description: {{annonce.content}} || <a href="{{path('annonce_show', {id: annonce.id})}}">Voir l'annonce</a></li>
		</ul>
	{% endfor %}
{% endblock %}
